@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Kaushan+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
}

:root {
  --prim-color: #004cff;
  --black: #000;
  --white: #fff;
  --gray: #666666;
  --primary: #1cd27b;
  --bg-color:#f8faff;
  --footer-color: #121418;

  --KaushanScript: "Kaushan Script", cursive;
  --InterTight: "Inter Tight", sans-serif;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

.dark-mode {
  --prim-color: #004cff;
  --black: #fff;
  --white: #000;
  --gray: #ffffff;
  --primary: #1cd27b;
  --bg-color:#f8faff;
  --footer-color: #121418;
}

.social-icon {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 5px;
  font-size: 22px;
}
.nav-social a:nth-child(1):hover {
  background-color: #0d6efd;
}
.nav-social a:nth-child(2):hover {
  background-color: #0dcaf0;
}
.nav-social a:nth-child(3):hover {
  background-color: #dc3545;
}
.nav-social a:nth-child(4):hover {
  background-color: #0d6efd;
}
.nav-social a:nth-child(5):hover {
  background-color: #dc3545;
}

.nav-social a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-regular);
}

.nav-social a:hover {
  color: #fff !important;
}

.logo h2 {
  font-size: 2rem;
  color: var(--black);
  display: flex;
  align-items: center;
}

.logo h2 span {
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--prim-color);
  border-radius: 100%;
  color: #fff;
}

.nav-btn-wrap button {
  border-radius: 50px;
  font-size: 1.2rem;
  padding: 5px 20px;
}

.navbar-nav .nav-item a {
  position: relative;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0 10px;
  color: var(--gray);
}

.navbar-nav .nav-item a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--prim-color);
  transition: var(--transition-regular);
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}
.navbar-nav .nav-item a:hover {
  color: var(--prim-color);
}

.switch {
  position: relative;
  display: inline-block;
  font-size: 17px;
  width: 3.5em;
  height: 2em;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  --background: #a4a4a6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
}
.slider::before {
  content: "";
  position: absolute;
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0 0 #ffffff;
  background-color: var(--background);
  transition: 0.5s;
}
.switch input:checked + .slider::before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0 15px #ffffff;
}

.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #000;
  padding: 15px 0;
}

/* Headline */
.headline-text-swiper {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.headline-title {
  background-color: #ecf2ff;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 600;
  width: 135px;
  color: var(--prim-color);
}

.headline p {
  font-weight: 600;
  color: var(--black);
}

/* Headline Swiper */
.headline-image img {
  width: 150px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

.headline-det span {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: var(--black);
}
.headline-det p {
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--black);
}

/* Hero Post Section */
.post-img {
  height: 220px;
  width: 100%;
}

.post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-content span {
  padding: 5px 15px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
  border-radius: 10px;
  border-bottom-right-radius: 0;
  text-transform: uppercase;
}

.post-content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 15px;
  color: var(--black);
}

.post-span {
  padding: 5px 15px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
  border-radius: 10px;
  border-bottom-right-radius: 0;
  text-transform: uppercase;
}

.post-span1 {
  background-color: #f8b34b;
}
.post-span2 {
  background-color: #19db5b;
}
.post-span3 {
  background-color: #f50bec;
  padding: 5px 15px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
  border-radius: 10px;
  border-bottom-right-radius: 0;
}

.post-wrap-card {
  position: relative; 
  width: 100%;
  height: 700px;
  border-radius: 7px;
  background-image: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.post-wrap-card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0% transparent 100%);
  z-index: -1;
}

.post-wrap-content {
  position: absolute;
  padding: 0 5%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  opacity: 0;
  animation: Anim-TB var(--transition-regular) forwards linear;
  animation-delay: 0.3s;
}
.post-wrap-content h2 {
  font-size: 2.5rem;
  color: #fff;
}

@keyframes Anim-TB {
  0% {
    transform: translate(-50%, -10%) translateY(50px);
    opacity: 0;
  } 100% {
    transform: translate(-50%, -10%) translateY(0px);
    opacity: 1;
  }
}

.post-box-img img {
  width: 120px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}

.post-box-content span {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: var(--black);
}

.post-box-content p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  margin-top: 5px;
  color: var(--black);
}
.post-box-content p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.editor-title {
  font-size: 2rem;
  color: var(--black);
}

.sport-card {
  top: 50%;
  right: -80%;
  transform: translate(-50%, -50%);
  width: 70%;
  padding: 45px 40px !important;
}

.post-tag {
  padding: 2px 8px;
  font-size: 15px; 
}

.post-span4 {
  background-color: #e54716;
}

.post-wrap span {
  color: var(--white);
}
.post-wrap p {
  color: var(--black);
}
.post-wrap small {
  color: var(--background);
}

.post-wrap img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.social-box {
  padding: 15px 20px 15px 20px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: var(--transition-slow);
}

.social-box i {
  font-size: 36px;
}
.social-box h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: #212529;
}
.social-box small {
  color: #797d81;
  font-size: 12px;
  font-weight: 400;
}
.facebook {
  background-color: #f5f8fd;
  color: #3b5998;
}
.social-box:hover {
  background-color: #3b5998;
}
.social-box:hover h5,
.social-box:hover small,
.social-box:hover i {
  color: #fff;
}

.twitter {
  background-color: #f5f8fd;
  color: #1da1f2;
}
.twitter:hover {
  background-color: #1da1f2;
}

.youtube {
  background-color: #fff4f4;
  color: #ff0000;
}
.youtube:hover {
  background-color: #ff0000;
}

.spotify {
  background-color: #eefff4;
  color: #1d8954;
}
.spotify:hover {
  background-color: #1d8954;
}

.instagram {
  background-color: #fff6f9;
  color: #e1306c;
}
.instagram:hover {
  background-color: #e1306c;
}

.pinterest {
  background-color: #fff4f5;
  color: #f60c19;
}
.pinterest:hover {
  background-color: #f60c19;
}

.follow h4 {
  color: var(--black);
}

.author-card h6,
.author-card p {
  color: var(--black)
}

.head-wrap h2 {
  color: var(--black);
}
.mr-card-img {
  height: 180px;
}
.mr-card-wrap {
  background-image: url(assets/images/travel-pic.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
  border-radius: 10px;
  z-index: 1;
}
.mr-card-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  background-image: linear-gradient(180deg, transparent 0%, #00000098 100%);
  z-index: -1;
}
.mr-content {
  bottom: 10px;
  left: 50px;
}
.mr-content h3{
  font-size: 2.5rem;
  line-height: 3rem;
  color: #fff; 
}
.mr-content p {
  color: #fff;
}